.owl-carousel {
  .owl-prev {
    width: 15px;
    height: 50px;
    position: absolute;
    top: 40%;
    margin-left: -20px;
    display: block !important;
    border:0px solid black;
    background: url(/themes/custom/level/img/arrow-left.svg) !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
  }

  .owl-next {
    width: 15px;
    height: 50px;
    position: absolute;
    top: 40%;
    right: 0;
    display: block !important;
    border:0px solid black;
    background: url(/themes/custom/level/img/arrow-right.svg) !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
  }

  .owl-item img {
    display: initial !important;
  }


  .owl-stage-outer > .owl-stage {
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .owl-item {
    text-align: center;

    img {
      max-height: 180px;
      width: auto !important;
    }
  }

  .owl-prev i, .owl-next i {transform : scale(1,6); color: #ccc;}
}

 .owl-stage-outer > .owl-stage {
  margin:0 auto;
  display: flex;
}

.owl-theme .owl-nav [class*=owl-]:focus {
    outline: none;
}

.owl-carousel-news {
  .owl-stage-outer {
    padding-top: 45px;
  }

  @media (min-width: 576px) {
  .card-deck .card {
        margin-left: 15px;
        margin-right: 15px;
    }
  }

  .owl-prev {
      width: 15px;
      height: 50px;
      position: absolute;
      right: 30px;
      top: 0;
      margin-left: -20px;
      display: block !important;
      border:0px solid black;
      background: url(/themes/custom/level/img/arrow-left.svg) !important;
      background-size: contain !important;
      background-repeat: no-repeat !important;
    }

  .owl-next {
    width: 15px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
    display: block !important;
    border:0px solid black;
    background: url(/themes/custom/level/img/arrow-right.svg) !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
  }
}

ul.owl-carousel-projects {
  list-style: none;
  padding: 0;

  .owl-nav .owl-next, .owl-nav .owl-prev {
      position: absolute;
      top: 48%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
  }
  .owl-nav .owl-next,.owl-nav .owl-next:hover {
      right: 0;
      display: flex;
      margin-right: 2%;
      font-size: 40px !important;
  }
  .owl-nav .owl-prev,.owl-nav .owl-prev:hover{
      left: 0;
      display: flex;
      margin-left: 2%;
      font-size: 40px !important;
  }

  .owl-theme .owl-nav [class*=owl-] {
    background: transparent;
    border-radius: 3px;
    border: 0;
  }
}
