/* Parallax Paragraph */
.paragraph.paragraph--type--image-with-text-overlay {

  .paragraph__column.padding-top--sm {
    padding-top: 5% !important;
  }

  .paragraph__column.padding-top--md {
    padding-top: 10% !important;
  }

  .paragraph__column.padding-top--lg {
    padding-top: 15% !important;
  }

  .paragraph__column.padding-bottom--off {
    padding-bottom: 0 !important;
  }

  .paragraph__column.padding-bottom--sm {
    padding-bottom: 5% !important;
  }

  .paragraph__column.padding-bottom--md {
    padding-bottom: 10% !important;
  }

  .paragraph__column.padding-bottom--lg {
    padding-bottom: 15% !important;
  }
}

.paragraph-gradient-overlay--light {
  background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) );
}
.paragraph-gradient-overlay--medium {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) );
}

.paragraph-gradient-overlay--dark {
  background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) );
}

.parallax {
  background-attachment: fixed !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

