/* slide styles */
.paragraph.paragraph--type--slide-content .paragraph__column {
  padding-left: 0;
  padding-right: 0;
}

.paragraph.paragraph--type--slide-content {
  min-height: 300px;
  height: 300px;
  @media (min-width: 769px) {
    min-height: 800px;
    height: 800px;
  }
}
.slide__content {
  text-shadow: 2px 2px 8px #fff;
  color: $darkblue;
   /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+28,ffffff+50&1+0,0+56 */
  background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.5) 28%, rgba(255,255,255,0.11) 50%, rgba(255,255,255,0) 56%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%,rgba(255,255,255,0.5) 28%,rgba(255,255,255,0.11) 50%,rgba(255,255,255,0) 56%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(255,255,255,1) 0%,rgba(255,255,255,0.5) 28%,rgba(255,255,255,0.11) 50%,rgba(255,255,255,0) 56%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  padding: 10%;

  @media (min-width: 769px) {
    padding-top: 5%;
  }

  .h1 {
    font-size: 30px;
    color: $darkblue;
    margin-bottom: 0;
     margin-top: 0;
    /* text-transform: uppercase; */
    float: left;
    clear: both;

    @media (max-width: 768px) {
      font-size: 20px;
    }
  }

  p {
    float: left;
    clear: both;
    color: $darkblue;
  }
}

.path-frontpage {


}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(1, 1);
  }
  to {
    -webkit-transform: scale(1.5, 1.5);
  }
}

@keyframes zoom {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1.5, 1.5);
  }
}

.carousel-item article img {
  -webkit-animation: zoom 20s;
  animation: zoom 20s;
}

.featured-image.carousel.slide {
  margin-left: -15px;
  margin-right: -15px;
}
/* End slide styles */
