header.video-banner {
  position: relative;
  background-color: black;
  display: flex;

  video {
    width: 100%
  }

  .container {
    position: absolute;
    z-index: 2;
    align-self: center;

    @include media-breakpoint-down(md) {
      bottom: 10%;
    }
  }

  .d-flex.h-100 {
    height: 100%;
    display: flex;
    align-items: center;
  }
}
